# Dependencies
/node_modules
/.pnpm-store

# Production
/.next/
/out/
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local Env Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

#virtual envirment
venv/
.env/
.venv/
__pycache__/

# data
data/

.npm-cache
.nmp-cache

# Python scripts (local only)
ingest.py
process_data.py